extends layout 

block content 
  h4 #{blog.blogTitle}
  p(style="white-space:pre;") #{blog.blogText}
  p 作成者: #{blog.user.username}
  - const isMine = parseInt(user.id) === blog.user.userId 
  if isMine 
    div 
      a(href=`/blogs/${blog.blogId}/edit`) ブログを編集する 
  tr
    th コメント
      each comment in comments 
        td
          if comment.userId === parseInt(user.id)
            p#self-comment #{comment.comment}
            button(
              data-blog-id=blog.blogId 
              data-user-id=user.id)#self-comment-button 編集
          else 
            p #{comment.comment}
